html
{
    font-size: 14px;
    overflow-x: hidden;
}

body
{
    margin: 0px;
    width: 100vw;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p
{
    /* marges */
    margin: 0px;
}

/* header */
header
{
    /* taille */
    width: 100%;
    height: 5vw;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .boite
{
    /* taille */
    width: 55%;
    height: 50%;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .boite a
{
    /* taille */
    width: auto;
    height: 100%;
}

header .boite a img
{
    /* taille */
    width: auto;
    height: 100%;
}

/* header navigation */
header nav
{
    /* taille */
    width: 18%;
    height: auto;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a 
{
    /* couleur */
    color: black;
    /* texte */
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2rem;
}

/* main */

/* banniere */
.banniere-haut
{
    /* taille */
    width: 100%;
    height: 23vw;
    /* background */
    background-image: url("../assets/la-chouette-agence-banniere.webp");
    background-size: contain;
    background-position: -40px -10px;
    background-attachment: fixed;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* position */
    position: relative;
}

.banniere-haut div
{
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* index */
    z-index: 2;
    /* texte */
    color: #b35d36;
}

.banniere-haut div h1
{
    /* texte */
    font-weight: 400;
}

.banniere-haut div a
{
    /* texte */
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    /* marges */
    padding: 14px 30px;
    margin-top: 30px;
    /* background */
    background-color: #b35d36;
    /* border */
    border-radius: 100px;
}

.banniere-haut .fond
{
    /* taille */
    width: 100%;
    height: 100%;
    /* position */
    position: absolute;
    /* background */
    background-image: url("../assets/texture-paper.webp");
    /* opacité */
    opacity: 0.7;
    /* z-index */
    z-index: 0;
}

.banniere-haut div img
{
    width: 100px;
    height: auto;
}

/* presentation */
.presentation
{
    /* taille */
    width: 100%;
    height: auto;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position */
    position: relative;
}

.presentation .domaine
{
   /* taille */
   width: auto;
   height: auto;
   /* flex-box */
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.presentation .domaine div
{
   /* taille */
   width: 100%;
   height: 100%;
   /* flex-box */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.presentation .domaine div p
{
   /* texte */
   text-align: center;
   font-size: 11px;
   /* marges */
   margin-top: 20px;
}

.presentation h2
{
   /* texte */
   text-align: center;
   font-weight: 400;
   font-size: 1.7rem;
   /* couleur */
   color: rgb(93, 93, 93);
   /* marge */
   margin-top: 60px;
   margin-bottom: 40px;
}

.presentation .domaine div .icon-lg
{
    /* taille */
    font-size: 60px;
    /* marges */
    margin-bottom: 20px;
}

.presentation .citation
{
   /* marge */
   margin-top: 60px;
   /* flex-box */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.presentation .citation h4
{
    /* texte */
   text-align: center;
   font-weight: 500;
   font-size: 1.5rem;
   font-style: italic;
   /* couleur */
   color: rgb(93, 93, 93);
   /* marges */
   margin-bottom: 5px;
}

.presentation .citation p
{
   /* marges */
   margin-bottom: 60px;
   /* couleur */
   color: rgb(93, 93, 93);
}

.explication
{
    /* position */
    position: relative;
    /* taille */
    width: 100%;
    height: auto;
    /* background */
    background-image: url("../assets/image-de-presentation.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* marges */
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
}

.explication .fond2
{
    /* position */
    position: absolute;
    /* background */
    background-image: url("../assets/texture-paper.webp");
    background-blend-mode: hue;
    color: black;
    /* taille */
    width: 100%;
    height: 100%;
    /* z-index */
    z-index: 0;
    /* opacité */
    opacity: 0.7;
}

.explication div
{
    /* taille */
    width: 30%;
    height: auto;
    /* texte */
    text-align: center;
    /* background */
    background-color: transparent;
    /* marges */
    padding: 0px 40px;
    padding-top: 50px;
    padding-bottom: 60px;
    /* z-index */
    z-index: 1;
    /* position */
    position: relative;
    /* overflow */
    overflow: hidden;
}

.explication div .fond3
{
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
    /* background */
    background-color: black;
    /* taille */
    width: 100%;
    height: 100%;
    /* z-index */
    z-index: -1;
    /* opacité */
    opacity: 0.5;
}

.explication h2
{
    /* marges */
    margin-bottom: 30px;
    /* couleur */
    color: white; 
    /* texte */
    font-weight: 400;
}

.explication p 
{
    /* marge */
    margin-bottom: 20px;
    /* texte */
    font-weight: 300;
    color: white;
    font-size: 1rem;
}

.explication a
{
    /* texte */
    color: white;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.2rem;
}

.portfolio 
{
    /* taille */
    width: 100%;
    height: 100%;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background */
    background-image: url("../assets/lines-h2-bg.webp");
}

.portfolio h2
{
    /* marge */
    margin-top: 100px;
    /* texte */
    text-align: center;
    font-weight: 400;
    color: rgb(93, 93, 93);
}

.portfolio .grille
{
    /* marge */
    margin-top: 50px;
    padding-bottom: 20vh;
    /* taille */
    width: 30%;
    height: auto;
    /* grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    /* texte */
    text-align: center;
}

.portfolio .grille h3
{
    /* texte */
    font-weight: 500;
    text-transform: uppercase;
    /* marges */
    margin-top: 10px;
}

.portfolio .grille p
{
    /* texte */
    font-size: 1rem;
    /* marges */
    margin-top: 10px;
}

.portfolio .grille .boite2
{
    /* taille */
    width: 100%;
    height: 70%;
    /* position */
    position: relative;
}

.portfolio .grille img
{
    /* taille */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .grille .fond4
{
    /* background */
    background-color: black;
    /* position */
    position: absolute;
    top: 0px;
    /* taille */
    width: 100%;
    height: 100%;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* opacité */
    opacity: 0;
    /* transition */
    transition: 300ms ease-in-out;
}

.portfolio .grille .fond4 .rond
{
    /* background */
    background-color: white;
    top: 0px;
    /* taille */
    width: 80px;
    height: 80px;
    /* bordures */
    border-radius: 100px;
}

.portfolio .grille .fond4 i
{
    /* position */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* taille */
    font-size: 2rem;
}

.portfolio .grille div:hover .fond4
{
    /* curseur */
    cursor: pointer;
    /* opacité */
    opacity: 0.5;
}

.banniere-bas
{
    /* taille */
    width: 100%;
    height: 34vh;
    /* background */
    background-image: url("../assets/la-chouette-agence-banniere.webp");
    background-repeat: no-repeat;
    background-position: center -260px;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* texte */
    text-align: center;
    /* position */
    position: relative;
}

.banniere-bas h3
{
    /* texte */
    font-size: 1.6rem;
    font-weight: 500;
    /* couleur */
    color: #b35d36; 
    /* z-index */
    z-index: 1;
}

.banniere-bas a
{
    /* marges */
    margin-top: 4vh;
    padding: 12px 25px;
    /* texte */
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    /* couleur */
    color: white; 
    /* background */
    background-color: #b35d36;
    /* bordures */
    border-radius: 100px;
    /* z-index */
    z-index: 1;
}

.banniere-bas .fond6
{
    /* background */
    background-image: url("../assets/texture-paper.webp");
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
    /* taille */
    width: 100%;
    height: 100%;
    /* opacité */
    opacity: 0.7;
}

footer
{
    /* taille */
    width: 100%;
    height: auto;
    /* background */
    background-color: #b35d36;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p
{
    /* couleur */
    color: white;
    /* texte */
    font-size: 1.2rem;
    /* marges */
    margin-top: 35px;
}

footer .lien
{
    /* taille */
    width: 20%;
    height: auto;
    /* marges */
    margin-top: 15px;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .lien a
{
    /* texte */
    text-decoration: none;
}

footer .lien a i
{
    /* taille */
    font-size: 2.2rem;
    /* couleur */
    color: #fad4c2;
    /* marges */
    margin-top: 10px;
}

footer .lien a i:hover
{
    /* couleur */
    color: white;
}

footer .partenaire
{
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* marges */
    margin-bottom: 50px;
    margin-top: 25px;
}

footer .lien-partenaire
{
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* marges */
    margin-top: 10px;
}

footer .partenaire h4 {
    color: white;
}

footer .lien-partenaire a
{
    /* marges */
    margin: 5px 0px;
    /* texte */
    color: white;
    text-decoration: none;
}